/*body .main-container {
max-width: 2000px;
}
body content { zoom: 300%; }*/

.slick-prev:before {
  position: relative;
  font-size: 55px;
  left: -35px;
}

.slick-next:before {
  position: relative;
  font-size: 55px;
  left: -1px;
}

.slickR {
  font-family: 'slick';
  /*font-size: 40px;*/
  max-height: 600px;
  min-height: 600px;
  object-fit: contain;
}

img {
/*height: 100px;
width: 100px; */
object-fit: contain;
}

/*
.col-md-2 {
  width:15%;
}

.col-md-10 {
  width:75%;
} */

#TOC {
  /*position: fixed;
  left: 10px;
  width:200px;*/
  max-width:15%;
  /*overflow:auto;*/
}
